<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesz.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>CRUD SITE</h1>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <h2>CRUD OPERATION</h2>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 CRUD. All rights taken.</p>
        </div>
    </footer>
</body>
</html>
