<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            var pattern = /^(?=.*[a-zA-Z])(?=.*\d).{8,}$/;  // Modified regex pattern
            if (!pattern.test(password)) {
                alert("Password must be at least 8 characters long and contain at least one letter and one digit.");
                return false;
            }
            if (password !== confirmPassword) {
                alert("Passwords do not match");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Sign Up</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('signup') }}" method="post" onsubmit="return validatePassword()">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" class="input-field" required><br><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" class="input-field" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" class="input-field" required><br><br>
                <label for="confirm_password">Confirm Password:</label><br>
                <input type="password" id="confirm_password" name="confirm_password" class="input-field" required><br><br>
                <button type="submit" class="submit-btn">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>
